@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    width: 20em;
    height: 25em;
    background-color: #94bbe9;
    border-radius: 5%;
    border-style: dotted;
    border-width: 2px;
    border-color: white;
    justify-content: center;
}

.calculator-screen {
    display: flex;
    width: 15em;
    height: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.calculator-large-button {
    display: flex;
    width: 15em;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.large-button {
    width: 4.5em;
    height: 4.5em;
    background-color: rgb(187, 134, 157);
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    color: white;
    font-family: 'Poppins';
    text-align: center;
}

.large-button:hover {
    background-color: rgb(238,174,202);
}

.calculator-small-button {
    display: flex;
    width: 15em;
    height: 3.5em;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.small-button {
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    color: grey;
    font-family: 'Poppins';
    text-align: center;
}

.small-button:hover {
    background-color: rgb(204, 203, 203);
}

.small-special-button {
    width: 3em;
    height: 3em;
    background-color: rgb(187, 134, 157);
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    color: white;
    font-family: 'Poppins';
    text-align: center;
}

.small-special-button:hover {
    background-color: rgb(238,174,202);
}

.large-button {
    width: 6.5em;
    height: 3em;
    background-color: rgb(187, 134, 157);
    border-radius: 10%;
    border-style: none;
    cursor: pointer;
    color: white;
    font-family: 'Poppins';
    text-align: center;
}

.large-button:hover {
    background-color: rgb(238,174,202);
}

.large-special-button {
    width: 6.5em;
    height: 3em;
    background-color: rgb(150, 101, 122);
    border-radius: 10%;
    border-style: none;
    cursor: pointer;
    color: white;
    font-family: 'Poppins';
    text-align: center;
}

.large-special-button:hover {
    background-color: rgb(185, 147, 164);
}

.calculator-footer {
    display: flex;
    height: 1em;
    align-items: center;
    justify-content: center;
    margin-top: 1.2em;
}

a {
    text-decoration: none;
    font-family: 'Cookie';
    font-size: x-large;
    color: white;
}

a:hover {
    color: rgb(187, 134, 157);
}

#result {
    font-family: 'Poppins';
    color: grey;
}